<div id="row">
<!--	<aside id="span4">
	</aside>-->
	<div id="span8">
		<p><h1 class="center">Poketool Hubへようこそ！</h1></p>

		<h2>
			ポケモン育成・対戦に役立つ各種ツールを一括提供しようと頑張っているサイトです。<br>
			鋭意製作中。<span class="count "></span>
		</h2>
	</div>
</div>